<div class="wrap">
	<section class="app-content">
		<div class="row">
			<div class="col-md-6">
				<div class="widget">
					<header class="widget-header">
						<h4 class="widget-title">Google Map</h4>
					</header><!-- .widget-header -->
					<hr class="widget-separator">
					<div class="widget-body">
						<div id="google-map-1" style="width: 100%;height: 400px;"></div>
					</div><!-- .widget-body -->
				</div><!-- .widget -->
			</div><!-- END column -->

			<div class="col-md-6">
				<div class="widget">
					<header class="widget-header">
						<h4 class="widget-title">Map Marker</h4>
					</header><!-- .widget-header -->
					<hr class="widget-separator">
					<div class="widget-body">
						<div id="google-map-2" style="width: 100%;height: 400px;"></div>
					</div><!-- .widget-body -->
				</div><!-- .widget -->
			</div><!-- END column -->

			<div class="col-md-12">
				<div class="widget">
					<header class="widget-header">
						<h4 class="widget-title">Street View</h4>
					</header><!-- .widget-header -->
					<hr class="widget-separator">
					<div class="widget-body">
						<div id="google-streetview" style="width: 100%;height: 400px;"></div>
					</div><!-- .widget-body -->
				</div><!-- .widget -->
			</div><!-- END column -->
		</div><!-- .row -->
	</section><!-- .app-content -->
</div><!-- .wrap -->

<script>
	// Google maps
	var map1, map2, panorama;
	function initMap() {
		var myLatLng = { lat: 30.0444196, lng: 31.2357116 };

		// initialize map1
		map1 = new google.maps.Map(document.getElementById('google-map-1'), {
			center: myLatLng,
			zoom: 8,
			fullscreenControl: false,
			mapTypeId: google.maps.MapTypeId.TERRAIN
		});
		
		// initialize map2
		map2 = new google.maps.Map(document.getElementById('google-map-2'), {
			center: myLatLng,
			zoom: 12,
			fullscreenControl: true
		});
		
		// the popup pane that appears when the marker is clicked
		var popupContent = '<strong>This is our Location<br>welcome to you</strong>';

		var infoWindow = new google.maps.InfoWindow({
			content: popupContent,
			maxWidth: 300
		});

		// the marker shown at myLatLng (map center)
		var marker = new google.maps.Marker({
			position: map2.getCenter(),
			map: map2,
			title: 'Welcome To Cairo',
			draggable: true
		});

		// listen for click events on the marker and open the infoWindow
		marker.addListener('click', function(){
			infoWindow.open(map2, marker);
		});

		// street view panorama 
		panorama = new google.maps.StreetViewPanorama(document.getElementById('google-streetview'), {
			position: { lat: 37.4200756, lng: -122.0727955 },
			pov: { heading: 34, pitch: 10 },
			addressControlOptions: {
				position: google.maps.ControlPosition.TOP_LEFT
			},
			linksControl: false,
			panControl: false,
			enableCloseButton: false
		});

	}; // End initMap()
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
