<div class="promo">
	<div class="promo-body">
		<form action="#">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-1">
					<div class="form-group">
						<input type="search" class="form-control promo-search-field" placeholder="What are you looking for">
					</div>
				</div>
				<div class="col-xs-12 col-sm-2">
					<input type="submit" class="btn btn-primary btn-block promo-search-submit" value="Search">
				</div>
			</div>
		</form>
	</div>
	<div class="promo-footer">
		<div class="row no-gutter">
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.web.html">Web</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.images.html">Images</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.video.html">Videos</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.users.html">Users</a>
			</div>
		</div>
	</div>
</div>
<div class="wrap">
	<section class="app-content">
		<!-- search results -->
		<div class="panel panel-default">
			<div class="panel-heading bg-white">
				<p class="panel-title text-muted">About 200 results (.07 second)</p>
			</div>
			<div class="panel-body">
				<div>
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="m-b-lg">
								<iframe data-gallery width="100%" height="300" src="https://www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- END column -->
						<div class="col-md-6 col-sm-12">
							<div class="m-b-lg">
								<iframe width="100%" height="300" src="https://www.youtube.com/embed/YvR8LGOUpNA" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- END column -->
						<div class="col-md-6 col-sm-12">
							<div class="m-b-lg">
								<iframe width="100%" height="300" src="https://www.youtube.com/embed/VN4sKq9g7WU" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- END column -->
						<div class="col-md-6 col-sm-12">
							<div class="m-b-lg">
								<iframe width="100%" height="300" src="https://www.youtube.com/embed/Gp3N5wUEz_I" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- END column -->
					</div><!-- .row -->
				</div>

				<!-- search results navigation -->
				<nav class="search-results-navigation">
					<ul class="pagination m-0">
						<li>
							<a href="#" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
							</a>
						</li>
					</ul>
				</nav><!-- END .search-results-navigation -->
			</div>
		</div>
	</section><!-- #dash-content -->
</div><!-- .wrap -->