<div class="promo">
	<div class="promo-body">
		<form action="#">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-1">
					<div class="form-group">
						<input type="search" class="form-control promo-search-field" placeholder="What are you looking for">
					</div>
				</div>
				<div class="col-xs-12 col-sm-2">
					<input type="submit" class="btn btn-primary btn-block promo-search-submit" value="Search">
				</div>
			</div>
		</form>
	</div>
	<div class="promo-footer">
		<div class="row no-gutter">
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.web.html">Web</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.images.html">Images</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.video.html">Videos</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.users.html">Users</a>
			</div>
		</div>
	</div>
</div>
<div class="wrap">
	<section class="app-content">
		<!-- search results -->
		<div class="panel panel-default">
			<div class="panel-heading bg-white">
				<p class="panel-title text-muted">About 13,000,000 results (.13 second)</p>
			</div>
			<div class="panel-body">
				<div class="row m-b-lg">
					<div class="col-md-5 col-md-push-7">
						<div class="search-result">
							<h5><a href="#" class="text-primary">Envato</a></h5>
							<p><a href="#" class="text-success">http://www.google.com/?q=search</a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed modi eius explicabo accusantium error totam!</p>
							<div class="m-l-lg">								
								<div class="row">
									<div class="col-md-6">
										<h5><a href="#" class="text-primary">Wordpress Themes</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									</div>
									<div class="col-md-6">
										<h5><a href="#" class="text-primary">PSD</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<h5><a href="#" class="text-primary">HTML &amp; CSS</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									</div>
									<div class="col-md-6">
										<h5><a href="#" class="text-primary">Plugins</a></h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-md-pull-5">
						<div class="search-result">
							<h5><a href="#" class="_fz_md text-primary">AngularJs Bootcamp</a></h5>
							<p><a href="#" class="_fz_sm text-success">http://www.google.com/?q=search</a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed modi eius explicabo accusantium error totam!</p>
						</div>

						<div class="search-result">
							<h5><a href="#" class="_fz_md text-primary">AngularJs For Beginers Course</a></h5>
							<p><a href="#" class="_fz_sm text-success">http://www.google.com/?q=search</a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed modi eius explicabo accusantium error totam!</p>
						</div>

						<div class="search-result">
							<h5><a href="#" class="_fz_md text-primary">Hands On AngularJs</a></h5>
							<p><a href="#" class="_fz_sm text-success">http://www.google.com/?q=search</a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed modi eius explicabo accusantium error totam!</p>
						</div>

						<div class="search-result">
							<h5><a href="#" class="_fz_md text-primary">Single Page Applications With Angular</a></h5>
							<p><a href="#" class="_fz_sm text-success">http://www.google.com/?q=search</a></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed modi eius explicabo accusantium error totam!</p>
						</div>
					</div>
				</div>

				<!-- search results navigation -->
				<nav class="search-results-navigation">
					<ul class="pagination m-0">
						<li>
							<a href="#" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
							</a>
						</li>
					</ul>
				</nav><!-- END search-results-navigation -->
			</div>
		</div>
	</section><!-- #dash-content -->
</div><!-- .wrap -->