<div class="promo">
	<div class="promo-body">
		<form action="#">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-1">
					<div class="form-group">
						<input type="search" class="form-control promo-search-field" placeholder="What are you looking for">
					</div>
				</div>
				<div class="col-xs-12 col-sm-2">
					<input type="submit" class="btn btn-primary btn-block promo-search-submit" value="Search">
				</div>
			</div>
		</form>
	</div>
	<div class="promo-footer">
		<div class="row no-gutter">
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.web.html">Web</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.images.html">Images</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.video.html">Videos</a>
			</div>
			<div class="col-sm-2 col-xs-6 promo-tab">
				<a href="search.users.html">Users</a>
			</div>
		</div>
	</div>
</div>
<div class="wrap">
	<section class="app-content">
		<!-- search results -->
		<div class="panel panel-default">
			<div class="panel-heading bg-white">
				<p class="panel-title text-muted">About 13,000,000 results (.13 second)</p>
			</div>
			<div class="panel-body">
				
				<div class="row m-b-lg">
					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/221.jpg" alt=""></a>
										<i class="status status-online"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">John Doe</a></h5>
									<small class="media-meta">Web Developer</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/210.jpg" alt=""></a>
										<i class="status status-offline"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Ibraham Said</a></h5>
									<small class="media-meta">Web Designer</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/211.jpg" alt=""></a>
										<i class="status status-away"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Sally Adams</a></h5>
									<small class="media-meta">Graphical Designer</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/212.jpg" alt=""></a>
										<i class="status status-offline"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Jeffery Way</a></h5>
									<small class="media-meta">Software Engineer</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/213.jpg" alt=""></a>
										<i class="status status-away"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Jane Doe</a></h5>
									<small class="media-meta">UI Designer</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/214.jpg" alt=""></a>
										<i class="status status-online"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Sandy Matt</a></h5>
									<small class="media-meta">Lawyer</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/217.jpg" alt=""></a>
										<i class="status status-offline"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Sara Adams</a></h5>
									<small class="media-meta">Actress</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/218.jpg" alt=""></a>
										<i class="status status-offline"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">John Doe</a></h5>
									<small class="media-meta">Factional Character</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="user-card">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-lg avatar-circle">
										<a href="#"><img src="../assets/images/220.jpg" alt=""></a>
										<i class="status status-away"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading"><a href="#" class="title-color">Jane Doe</a></h5>
									<small class="media-meta">Factional Character</small>
								</div>
							</div>
						</div><!-- search-result -->
					</div>
				</div><!-- .row -->

				<!-- search results navigation -->
				<nav class="search-results-navigation">
					<ul class="pagination m-0">
						<li>
							<a href="#" aria-label="Previous">
							<span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
							</a>
						</li>
					</ul>
				</nav><!-- END .search-results-navigation -->
			</div>
		</div>
	</section><!-- #dash-content -->
</div><!-- .wrap -->