<div id="unlock-user" class="animated zoomInDown">
	<div class="avatar avatar-xl avatar-circle">
		<img class="img-responsive" src="../assets/images/101.jpg" alt="avatar"/>
	</div><!-- .avatar -->
	<h4>John Doe</h4>
</div>
<div id="unlock-form" class="animated slideInUp">
	<form action="#">
		<div class="form-group">
			<input type="password" class="form-control" placeholder="password" autocomplete="off">
		</div>
		<input id="unlock-btn" class="btn" type="submit" value="Unlock">
	</form>
</div>