<div class="wrap">
	<section class="app-content">
		<div class="row">
				<div class="col-md-12">
					<div class="mail-toolbar m-b-lg">								
						<div class="btn-group" role="group">
							<a href="#" class="btn btn-default">Media Grid</a>
						</div>

						<div class="btn-group" role="group">
							<a href="#" class="btn btn-default"><i class="fa fa-trash"></i></a>
							<a href="#" class="btn btn-default"><i class="fa fa-exclamation-circle"></i></a>
						</div>
						<a href="#" class="btn btn-default"><i class="fa fa-refresh"></i></a>

						<div class="btn-group pull-right" role="group">
							<a href="#" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
							<a href="#" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
		</div>

		<!-- Image Gallery -->
		<div class="gallery row">
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/201.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/201.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/202.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/202.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/203.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/203.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/204.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/204.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/205.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/205.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/206.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/206.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/202.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/202.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/203.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/203.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>

				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/209.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/209.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/210.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/210.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/204.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/204.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="gallery-item">
						<div class="thumb">
							<a href="../assets/images/original/205.jpg" data-lightbox="gallery-2" data-title="gallery item with caption">
								<img class="img-responsive" src="../assets/images/205.jpg" alt="">
							</a>
						</div>
						<div class="caption">gallery-item Caption</div>
					</div>
				</div>
		</div><!-- END .gallery -->
	</section><!-- #dash-content -->
</div><!-- .wrap -->