<div class="wrap">
	<section class="app-content">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading bg-white">
					<h4 class="panel-title">Invoice Info</h4>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-sm-8 col-xs-6">
							<h4 class="fw-600">Google Inc,</h4>
							<p><a href="#">www.google.com</a></p>
							<p>1 Infinite Loop<br>95014 Cuperino, CA<br>United States</p>
							<p>Telephone: 800-692-7753<br>Fax: 800-692-7753</p>

							<h4 class="m-t-lg fw-600">Invoice To:</h4>
							<p>John Smith</p>
							<p>Normand axis LTD<br>3 Goodman street</p>
						</div>
						<div class="col-sm-4 col-xs-6">
							<h4 class="fw-600 text-right">INVOICE #49021</h4>
							<p class="text-right">Date: January 25, 2017<br>Due Date: May 12, 2017</p>

							<h4 class="m-t-lg fw-600">Payment Details:</h4>
							<div class="clearfix">
								<p class="pull-left">Total Due:</p>
								<p class="pull-right">$1205</p>
							</div>
							<div class="clearfix">
								<p class="pull-left">Bank Name:</p>
								<p class="pull-right">Profit Bank Europe</p>
							</div>
							<div class="clearfix">
								<p class="pull-left">Country:</p>
								<p class="pull-right">United Kingdom</p>
							</div>
							<div class="clearfix">
								<p class="pull-left">City:</p>
								<p class="pull-right">London E18BF</p>
							</div>
							<div class="clearfix">
								<p class="pull-left">Address:</p>
								<p class="pull-right">3 Goodman Street</p>
							</div>
							<div class="clearfix">
								<p class="pull-left">IBAN:</p>
								<p class="pull-right">KFH37784028476740</p>
							</div>
							<div class="clearfix">
								<p class="pull-left">SWIFT Code:</p>
								<p class="pull-right">BPT4E</p>
							</div>
						</div>
					</div>

					<div class="table-responsive m-h-lg">
						<table class="table">
							<tr><th>#</th><th>Description</th><th>Quantity</th><th>Unit Cost</th><th>Total</th></tr>
							<tr><td>#</td><td>Description</td><td>23</td><td>$100</td><td>$2300</td></tr>
							<tr><td>#</td><td>Description</td><td>40</td><td>$410</td><td>$1235</td></tr>
							<tr><td>#</td><td>Description</td><td>35</td><td>$250</td><td>$1540</td></tr>
						</table>
					</div>

					<div class="row">
						<div class="col-sm-3 col-sm-push-9">
							<p>Sub-Total amount: $4800</p>
							<p>VAT: $35</p>
							<p>Grand Total: <span class="text-primary">$4800</span></p>
							<div class="m-t-lg">
								<button type="button" class="btn btn-md btn-primary m-r-lg">Send Invoice</button>
								<button type="button" class="btn btn-md btn-default">Print</button>
							</div>
						</div>
					</div>
				</div><!-- .panel-body -->
			</div>
		</div><!-- .container-fluid -->
	</section><!-- #dash-content -->
</div><!-- .wrap -->