<div class="wrap">
	<section class="app-content">
		<div class="row">
			<div class="col-md-12">
				<div class="widget p-lg">
					<div class="row no-gutter">
						<h4>Checkboxes</h4>
						<hr>
						<div class="col-sm-4">
							<h4 class="m-b-lg">Basic usage</h4>
							<p class="m-b-lg">
								Wrap <code>&lt;input type="checkbox"&gt;</code> within a <code>&lt;div class="checkbox"&gt;</code> For default usage
							</p>
							<div class="checkbox">
								<input type="checkbox" id="cb-01">
								<label for="cb-01">Default unchecked</label>
							</div>
							<div class="checkbox">
								<input type="checkbox" id="cb-02" checked>
								<label for="cb-02">Default checked</label>
							</div>
							<div class="checkbox">
								<input type="checkbox" id="cb-03" disabled>
								<label for="cb-03">Disabled</label>
							</div>
							<div class="checkbox">
								<input type="checkbox" id="cb-04" checked disabled>
								<label for="cb-04">Checked disabled</label>
							</div>
						</div><!-- .col -->
						<div class="col-sm-4">
							<h4 class="m-b-lg">Color Options</h4>
							<p class="m-b-lg">
								Add color class e.g. <code>checkbox-primary</code>
							</p>
							<div class="row no-gutter">
								<div class="col-xs-6">
									<div class="checkbox checkbox-primary">
										<input type="checkbox" id="cb-1" checked>
										<label for="cb-1">primary</label>
									</div>
									<div class="checkbox checkbox-info">
										<input type="checkbox" id="cb-2" checked>
										<label for="cb-2">info</label>
									</div>
									<div class="checkbox checkbox-success">
										<input type="checkbox" id="cb-3" checked>
										<label for="cb-3">success</label>
									</div>
									<div class="checkbox checkbox-warning">
										<input type="checkbox" id="cb-4" checked>
										<label for="cb-4">warning</label>
									</div>
									<div class="checkbox checkbox-danger">
										<input type="checkbox" id="cb-5" checked>
										<label for="cb-5">danger</label>
									</div>
								</div><!-- .col -->
								<div class="col-xs-6">
									<div class="checkbox checkbox-pink">
										<input type="checkbox" id="cb-6" checked>
										<label for="cb-6">pink</label>
									</div>
									<div class="checkbox checkbox-purple">
										<input type="checkbox" id="cb-7" checked>
										<label for="cb-7">purple</label>
									</div>
									<div class="checkbox checkbox-inverse">
										<input type="checkbox" id="cb-8" checked>
										<label for="cb-8">inverse</label>
									</div>
									<div class="checkbox checkbox-dark">
										<input type="checkbox" id="cb-9" checked>
										<label for="cb-9">dark</label>
									</div>
								</div><!-- .col -->
							</div><!-- .row -->
						</div><!-- .col -->
						<div class="col-sm-4">
							<h4 class="m-b-lg">Inline Checkbox</h4>
							<p class="m-b-lg">
								Add class <code>checkbox-inline</code>
							</p>
							<div class="checkbox checkbox-primary checkbox-inline">
								<input type="checkbox" id="cb-10" checked>
								<label for="cb-10">inline primary</label>
							</div>
							<div class="checkbox checkbox-success checkbox-inline">
								<input type="checkbox" id="cb-11" checked>
								<label for="cb-11">inline success</label>
							</div>
							<h4 class="m-h-lg">Circle Checkbox</h4>
							<p class="m-b-lg">
								Add class <code>checkbox-circle</code>
							</p>
							<div class="checkbox checkbox-circle">
								<input type="checkbox" id="cb-circle-1">
								<label for="cb-circle-1">circle unchecked</label>
							</div>
							<div class="checkbox checkbox-circle checkbox-primary">
								<input type="checkbox" id="cb-circle-2" checked>
								<label for="cb-circle-2">circle checked</label>
							</div>
						</div>
					</div><!-- .row -->
					<div class="m-t-lg">
						<abbr class="docs-link m-t-lg" title="For more info see the full documentation">For full documentation go to <a href="http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/">Awesome Checkbox</a></abbr>
					</div>
				</div><!-- .widget -->
			</div><!-- END column -->

			<div class="col-sm-12">
				<div class="widget p-lg">
					<h4>Radio Buttons</h4><hr>
					<p class="m-b-lg">
						Wrap <code>&lt;input type="radio"&gt;</code> within a <code>&lt;div class="radio"&gt;</code> For default usage.
						and as for <em><b>checkbox</b></em> you can use use color classes e.g. <code>radio-primary</code>
						and <code>radio-inline</code> for inine radio button
					</p>
					<div class="row no-gutter">
						<div class="col-sm-4">
							<h4 class="m-b-lg">Basic usage</h4>
							<div class="radio">
								<input type="radio" id="radio-1">
								<label for="radio-1">unchecked radio</label>
							</div>
							<div class="radio">
								<input type="radio" id="radio-2" checked>
								<label for="radio-2">checked radio</label>
							</div>
							<div class="radio">
								<input type="radio" id="radio-disabled" disabled>
								<label for="radio-disabled">disabled unchecked</label>
							</div>
							<div class="radio">
								<input type="radio" id="radio-disabled-2" disabled checked>
								<label for="radio-disabled-2">disabled checked</label>
							</div>
						</div><!-- .col -->
						<div class="col-sm-4">
							<h4 class="m-b-lg">Color options</h4>
							<div class="row no-gutter">
								<div class="col-xs-6">
									<div class="radio radio-primary">
										<input type="radio" id="radio-primary" checked>
										<label for="radio-primary">primary</label>
									</div>
									<div class="radio radio-info">
										<input type="radio" id="radio-info" checked>
										<label for="radio-info">info</label>
									</div>
									<div class="radio radio-success">
										<input type="radio" id="radio-success" checked>
										<label for="radio-success">success</label>
									</div>
									<div class="radio radio-warning">
										<input type="radio" id="radio-warning" checked>
										<label for="radio-warning">warning</label>
									</div>
								</div><!-- .col -->
								<div class="col-xs-6">
									<div class="radio radio-danger">
										<input type="radio" id="radio-danger" checked>
										<label for="radio-danger">danger</label>
									</div>
									<div class="radio radio-pink">
										<input type="radio" id="radio-pink" checked>
										<label for="radio-pink">pink</label>
									</div>
									<div class="radio radio-purple">
										<input type="radio" id="radio-purple" checked>
										<label for="radio-purple">purple</label>
									</div>
									<div class="radio radio-inverse">
										<input type="radio" id="radio-inverse" checked>
										<label for="radio-inverse">inverse</label>
									</div>
								</div><!-- .col -->
							</div><!-- .row -->
						</div><!-- .col -->
						<div class="col-sm-4">
							<h4 class="m-b-lg">Inline radios</h4>
							<div class="radio radio-inline radio-primary">
								<input type="radio" id="radio-inline-2" checked>
								<label for="radio-inline-2">inline radio</label>
							</div>
							<div class="radio radio-inline radio-success">
								<input type="radio" id="radio-inline2" checked>
								<label for="radio-inline-2">inline radio</label>
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
					<div class="m-t-lg">
						<abbr class="docs-link m-t-lg" title="For more info see the full documentation">For full documentation go to <a href="http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/">Awesome Checkbox</a></abbr>
					</div>
				</div><!-- .widget -->
			</div><!-- END column -->
			<div class="col-sm-12">
				<div class="widget p-lg">
					<h4>Switches</h4><hr>
					<div class="row no-gutter">
						<div class="col-sm-4">
							<h4 class="m-b-lg">Basic Usage</h4>
							<p class="m-b-lg">
								Add <code>data-switchery</code> to a <code>checkbox</code> for deafault switch
							</p>
							<div class="form-group">
								<input id="switch-0-1" type="checkbox" data-switchery checked />
								<span class="m-l-xl"><label for="switch-0-1">On</label></span>
							</div>
							<div class="form-group">
								<input id="switch-0-2" type="checkbox" data-switchery />
								<span class="m-l-xl"><label for="switch-0-2">Off</label></span>
							</div>
							<div class="form-group">
								<input id="switch-0-3" type="checkbox" data-switchery disabled checked />
								<span class="m-l-xl"><label for="switch-0-3">Disabled On</label></span>
							</div>
							<div class="form-group">
								<input id="switch-0-4" type="checkbox" data-switchery disabled />
								<span class="m-l-xl"><label for="switch-0-4">Disabled Off</label></span>
							</div>
						</div><!-- .col -->
						<div class="col-sm-4">
							<h4 class="m-b-lg">Color Options</h4>
							<p class="m-b-lg">
								Add <code>data-color="#xxx"</code> to change color<br>
								and <code>data-jackColor="#xxx"</code> to change jack color
							</p>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-1" type="checkbox" data-switchery data-color="#188ae2" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-2" type="checkbox" data-switchery data-color="#10c469" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-3" type="checkbox" data-switchery data-color="#35b8e0" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-4" type="checkbox" data-switchery data-color="#f9c851" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-5" type="checkbox" data-switchery data-color="#ff5b5b" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-6" type="checkbox" data-switchery data-color="#5b69bc" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-7" type="checkbox" data-switchery data-color="#ff8acc" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-8" type="checkbox" data-switchery data-color="#3b3e47" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-9" type="checkbox" data-switchery data-color="#282828" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-9" type="checkbox" data-switchery data-color="#7c8bc7" data-jackColor="#9decff" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-2-9" type="checkbox" data-switchery data-color="#fC73d0" data-jackColor="#fcf45e" checked />
							</div>
						</div><!-- .col -->
						<div class="col-sm-4">
							<h4 class="m-b-lg">Size Options</h4>
							<p class="m-b-lg">
								Add <code>data-size="small"</code> or <code>data-size="small"</code> to change size
							</p>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-3-1" type="checkbox" data-switchery data-size="large" checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-3-2" type="checkbox" data-switchery checked />
							</div>
							<div class="m-b-lg m-r-xl inline-block">
								<input id="switch-3-3" type="checkbox" data-switchery data-size="small" checked />
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
					<div class="m-t-lg">
						<abbr class="docs-link" title="For more info see the full documentation">For full documentation go to <a href="http://abpetkov.github.io/switchery/">Switchery</a></abbr>
					</div>
				</div><!-- .widget -->
			</div><!-- END column -->
		</div><!-- .row -->
	</section><!-- .app-content -->
</div><!-- .wrap -->