<div class="wrap">
	<section class="app-content">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3>Supported controls</h3>
				<div class="m-b-xl">
					Most common form control, text-based input fields. Includes support for all HTML5 types: <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<form action="#" class="form-horizontal">
					<div class="form-group">
						<label for="control-demo-1" class="col-sm-3">Type Text</label>
						<div class="col-sm-9">
							<input type="text" id="control-demo-1" class="form-control">
						</div>
					</div><!-- .form-group -->
					<div class="form-group">
						<label for="control-demo-2" class="col-sm-3">Type Email</label>
						<div class="col-sm-9">
							<input type="email" id="control-demo-2" class="form-control">
						</div>
					</div><!-- .form-group -->
					<div class="form-group">
						<label for="control-demo-3" class="col-sm-3">Type Password</label>
						<div class="col-sm-9">
							<input type="password" id="control-demo-3" class="form-control">
						</div>
					</div><!-- .form-group -->
					<div class="form-group">
						<label for="control-demo-4" class="col-sm-3">Placeholder</label>
						<div class="col-sm-9">
							<input type="text" id="control-demo-4" class="form-control" placeholder="write something here">
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 m-b-sm">
							Add the <code>disabled</code> boolean attribute on an input to prevent user interactions. Disabled inputs appear lighter and add a <code>not-allowed</code> cursor.
						</div>

						<label for="disabledInput" class="col-sm-3">Disabled State</label>
						<div class="col-sm-9">
							<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 m-b-sm">
							Add the <code>readonly</code> boolean attribute on an input to prevent modification of the input's value. Read-only inputs appear lighter (just like disabled inputs), but retain the standard cursor.
						</div>
						
						<label for="readonlyInput" class="col-sm-3">Readonly State</label>
						<div class="col-sm-9">
							<input class="form-control" id="readonlyInput" type="text" placeholder="Readonly input here…" readonly>
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<label for="inputHelpBlock" class="col-sm-3">Input with help text</label>
						<div class="col-sm-9">
							<input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
							<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
						</div>
					</div><!-- .form-group -->
					
					<!-- section -->
					<div class="row">
						<div class="col-md-12">
							<h3 class="m-h-lg title-color">Validation States</h3>
							<div class="m-b-lg">
								Bootstrap includes validation styles for error, warning, and success states on form controls. To use, add <code>.has-warning</code>, <code>.has-error</code>, or <code>.has-success</code> to the parent element. Any <code>.control-label</code>, <code>.form-control</code>, and <code>.help-block</code> within that element will receive the validation styles.
							</div>
						</div>
					</div>
					
					<div class="form-group has-success">
						<label class="col-sm-3 control-label text-left" for="inputSuccess1">Input with success</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputSuccess1" aria-describedby="helpBlock2" placeholder="Input with success">
							<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
						</div>
					</div>

					<div class="form-group has-warning">
						<label class="col-sm-3 control-label text-left" for="inputWarning1">Input with warning</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputWarning1" placeholder="Input with warning">
						</div>
					</div>

					<div class="form-group has-error">
						<label class="col-sm-3 control-label text-left" for="inputError1">Input with error</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputError1" placeholder="Input with error">
						</div>
					</div>

					<!-- section -->
					<div class="row">
						<div class="col-md-12">
							<h3 class="m-h-lg title-color">With optional icons</h3>
							<div class="m-b-lg">
								You can also add optional feedback icons with the addition of <code>.has-feedback</code> and the right icon.<br>
								<b class="text-danger">Feedback icons only work with textual <code>&lt;input class="form-control"&gt;</code> elements.</b>
							</div>
						</div>
					</div>

					<div class="form-group has-success has-feedback">
						<label class="control-label col-sm-3 text-left" for="inputSuccess2">Input with success</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
							<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							<span id="inputSuccess2Status" class="sr-only">(success)</span>
						</div>
					</div>

					<div class="form-group has-warning has-feedback">
						<label class="control-label col-sm-3 text-left" for="inputWarning2">Input with warning</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
							<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
							<span id="inputWarning2Status" class="sr-only">(warning)</span>
						</div>
					</div>

					<div class="form-group has-error has-feedback">
						<label class="control-label col-sm-3 text-left" for="inputError2">Input with error</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
							<span id="inputError2Status" class="sr-only">(error)</span>
						</div>
					</div>
					<div class="form-group">
						<label for="control-demo-5" class="col-sm-3">Textarea</label>
						<div class="col-sm-9">
							<textarea name="control-demo-5" id="control-demo-5" class="form-control" cols="30" rows="10"></textarea>
						</div>
					</div><!-- .form-group -->
					
					<!-- section -->
					<div class="row">
						<div class="col-md-12">
							<h3 class="m-h-lg title-color">Selects</h3>
							<div class="m-b-lg">
								Note that many native select menus—namely in Safari and Chrome—have rounded corners that cannot be modified via <code>border-radius</code> properties.
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="control-demo-6" class="col-sm-3">Single Select</label>
						<div id="control-demo-6" class="col-sm-9">
							<select class="form-control">
								<option>HTML</option>
								<option>CSS</option>
								<option>Javascript</option>
								<option>Bootstrap</option>
								<option>AngularJs</option>
							</select>
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 m-b-sm">
							For <code>&lt;select&gt;</code> controls with the <code>multiple</code> attribute, multiple options are shown by default.
						</div>

						<label for="control-demo-6" class="col-sm-3">Multiple Select</label>
						<div id="control-demo-6" class="col-sm-9">
							<select class="form-control" multiple>
								<option>HTML</option>
								<option>CSS</option>
								<option>Javascript</option>
								<option>Bootstrap</option>
								<option>AngularJs</option>
							</select>
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 m-b-sm">
							Add the <code>disabled</code> boolean attribute on the <code>&lt;select&gt;</code> to prevent user interactions
						</div>

						<label for="control-demo-6" class="col-sm-3">Disabled Select</label>
						<div id="control-demo-6" class="col-sm-9">
							<select class="form-control" disabled>
								<option>HTML</option>
								<option>CSS</option>
								<option>Javascript</option>
								<option>Bootstrap</option>
								<option>AngularJs</option>
							</select>
						</div>
					</div><!-- .form-group -->

					<!-- section -->
					<div class="row">
						<div class="col-md-12">
							<h3 class="m-h-lg title-color">Checkboxes &amp; Radios</h3>
							<div class="m-b-lg">
								Checkboxes are for selecting one or several options in a list, while radios are for selecting one option from many.<br>
								Disabled checkboxes and radios are supported, but to provide a "not-allowed" cursor on hover of the parent <code>&lt;label&gt;</code>, you'll need to add the <code>.disabled</code> class to the parent <code>.radio</code>, <code>.radio-inline</code>, <code>.checkbox</code>, or <code>.checkbox-inline</code>.
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="#" class="col-sm-3">Deafults</label>
						<div class="col-sm-9">
							<div>
								<label>
									<input type="checkbox" value="">
									Option one is this and that&mdash;be sure to include why it's great
								</label>
							</div>
							<div>
								<label>
									<input type="checkbox" value="" disabled>
									Option two is disabled
								</label>
							</div>

							<div>
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
									Option one is this and that&mdash;be sure to include why it's great
								</label>
							</div>
							<div>
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									Option two can be something else and selecting it will deselect option one
								</label>
							</div>
							<div>
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
									Option three is disabled
								</label>
							</div>
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 m-b-sm">
							Use the <code>.checkbox-inline</code> or <code>.radio-inline</code> classes on a series of checkboxes or radios for controls that appear on the same line.
						</div>
						<label for="#" class="col-sm-3">Inline</label>
						<div class="col-sm-9">
							<div>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox2" value="option2"> 2
								</label>
								<label class="checkbox-inline">
									<input type="checkbox" id="inlineCheckbox3" value="option3"> 3
								</label>
							</div>
							
							<div>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
								</label>
								<label class="radio-inline">
									<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
								</label>
							</div>
						</div>
					</div><!-- .form-group -->

					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-3 m-b-sm">
							<!-- Use the <code>.checkbox-inline</code> or <code>.radio-inline</code> classes on a series of checkboxes or radios for controls that appear on the same line. -->
						</div>
						<label for="#" class="col-sm-3">Custom</label>
						<div class="col-sm-9">
							<div class="checkbox checkbox-default">
								<input type="checkbox" id="custome-checkbox1" checked/>
								<label for="custome-checkbox1">Custom Checkbox (default)</label>
							</div>
							<div class="checkbox checkbox-primary">
								<input type="checkbox" id="custome-checkbox2" checked/>
								<label for="custome-checkbox2">Custom Checkbox (primary)</label>
							</div>
							<div class="checkbox checkbox-success">
								<input type="checkbox" id="custome-checkbox3" checked/>
								<label for="custome-checkbox3">Custom Checkbox (success)</label>
							</div>
							<div class="checkbox checkbox-warning">
								<input type="checkbox" id="custome-checkbox4" checked/>
								<label for="custome-checkbox4">Custom Checkbox (warning)</label>
							</div>
							<div class="checkbox checkbox-danger">
								<input type="checkbox" id="custome-checkbox5" checked/>
								<label for="custome-checkbox5">Custom Checkbox (danger)</label>
							</div>
						</div>
					</div><!-- .form-group -->
				</form>
			</div>
		</div><!-- END row -->
	</section><!-- #dash-content -->
</div><!-- .wrap -->